<mat-card class="card-container">
  <mat-card-title >
      <div class="story-title">
          <h2>
              {{story && story.name}}
          </h2>
          <div>
            <span>
                <p translate="app.POINTS"></p>
                {{story && story.points}}
            </span>
            <button class="delete" (click)="openDialog('0ms', '0ms')">
              <mat-icon>delete</mat-icon>
            </button>
            <hr />
            <a class="arrow-left" [routerLink]="route">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </a>
          </div>
      </div>
  </mat-card-title>
  <mat-card-content *ngIf="story && story.description">
      <p translate="app.DESCRIPTION:"></p> 
      {{story && story.description}}
  </mat-card-content>
  <mat-card-content *ngIf="story && story.created">
      <p translate="app.CREATED"></p>
      {{setCreated()}}
  </mat-card-content>
  <mat-card-content *ngIf="story && story.status">
      <p translate="app.STATUS"></p>
      {{setStatus()}}
  </mat-card-content>
</mat-card>
