@import '../../../../mixins';

.main-container {
    @include width-responsive;
    min-width: 312px;
    min-height: calc(95vh);
    background-color: var(--color1);
    padding-top: 10vh;
    box-sizing: border-box;
}