@import '../../../../mixins';

$radius1: var(--radius1);
$gap1: var(--gap1);

.header-container {
    @include flex(flex, center, space-between, row);
    width: 100%;
    height: calc(10vh - 4px);
    border: 2px solid var(--color4);
    background-color: var(--color4);
    color: var(--color1);
    border-radius: 0 0 $radius1 $radius1;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.5);
    z-index: 50;

    div {
        @include flex(flex, center, flex-start, row);
        gap: $gap1;
    }

    h1 {
        font-size: 30px;
        font-weight: 600;
        margin: 0;
    }

    button {
        @include flex(flex, center, center);
        height: 30px;
        margin-right: 20px;
    }

    img {
        height: 80%;
        margin-right: 20px;
    }
}

.menu-icon {
    font-size: 40px;
}

.title {
    @include flex(flex, center, flex-start, row);

    .mat-icon {
        @include flex(flex, center, center);
        font-size: 30px;
        width: 10px;
    }
}

@media screen and (max-width:540px) {
    .header-container {

        h1 {
            font-size: 25px;
        }

        button {
            margin-right: 0;
        }

        img {
            height: 60%;
            margin-right: 10px;
        }
    }

}