<h1 mat-dialog-title>Create task</h1>
<form mat-dialog-content novalidate [formGroup]="newTask">

  <p>Name:</p>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [formControl]="name" required>
  </mat-form-field>

  <p>Description:</p>
  <mat-form-field appearance="fill" >
    <mat-label>Description</mat-label>
    <input matInput [formControl]="description">
  </mat-form-field>

  <p>Due to:</p>
  <mat-form-field appearance="fill">
    <mat-label>Pick date</mat-label>
    <input matInput [min]="today" [matDatepicker]="picker1" [formControl]="dueDate" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker1" class="date-picker" ></mat-datepicker-toggle>
    <mat-datepicker #picker1 ></mat-datepicker>
  </mat-form-field>
</form>

<div class="buttons" mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [disabled]="!newTask.valid" [mat-dialog-close]="onNewTask()" cdkFocusInitial>Create</button>
</div>

