<h1 mat-dialog-title>Create task</h1>
<form mat-dialog-content novalidate [formGroup]="newTask">

  <p>Name:</p>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [formControl]="name" required>
  </mat-form-field>

  <p>Description:</p>
  <mat-form-field appearance="fill" >
    <mat-label>Description</mat-label>
    <input matInput [formControl]="description">
  </mat-form-field>
</form>

<div class="buttons spinner" mat-dialog-actions>
  <button mat-button (click)="onClose()">Cancel</button>
  <button mat-button [disabled]="!newTask.valid" (click)="addtask()">
    <mat-spinner [diameter]="30" *ngIf="loading; else create" ></mat-spinner>
    <ng-template #create>Create</ng-template>
  </button>
</div>

