@import '../../../../mixins';

.chart-container {
  @include flex(flex, center, center, row);
  background-color: var(--color2);
  border-radius: var(--radius1);
  border: var(--border3);
  padding: 20px;
}

.chart-subcontainer {
  width: 100%;
}

@media screen and (max-width:439px) {
  .chart-container {
    padding: 10px;
  }
}