<div class="menu-container" [ngClass]="menuState ? 'deployed':''">
    <div class="menu-logo">
        <span>
            <div>Brainstorming</div>
            <img src="../../../../../assets/images/Logo.svg" alt="" />
        </span>
    </div>
    <div class="menu-nav">
        <button class="menu-button" mat-button mat-flat-button translate="app.HEADER.HOME" routerLink="/home" (click)="setMenuState()">
        </button>
        <button class="menu-button" mat-button mat-flat-button translate="app.HEADER.STORY" routerLink="/my-stories" (click)="setMenuState()">  
        </button>
        <button class="menu-button" mat-button mat-flat-button translate="app.HEADER.PROJECT" routerLink="/my-projects" (click)="setMenuState()">
        </button>
        <button class="menu-button" mat-button mat-flat-button translate="app.HEADER.MENU" (click)="setMenuState()">
        </button>
    </div>
    <button class="menu-user" mat-button routerLink="/settings" (click)="setMenuState()">
        {{userLogged && userLogged.name.first}} {{userLogged && userLogged.name.last}}
    </button>
</div>

