<div class="menu-container">
    <div class="menu-logo">
        <p>logo</p>
    </div>
    <div class="menu-nav">
        <a class="menu-button" mat-button mat-flat-button routerLink="/home" (click)="setMenuState()">
            Home
        </a>
        <a class="menu-button" mat-button mat-flat-button routerLink="/my-stories" (click)="setMenuState()">
            My Stories
        </a>
        <a class="menu-button" mat-button mat-flat-button routerLink="/my-projects" (click)="setMenuState()">
            My Projects
        </a>
        <button class="menu-button" mat-button mat-flat-button (click)="setMenuState()">Close menu</button>
    </div>
    <a class="menu-user" routerLink="/settings" (click)="setMenuState()">
        Settings
    </a>
</div>

