@import '../../../../../mixins';

$gap: var(--gap);
$radius: var(--radius);

.menu-container {
    @include flex(flex, flex-start, space-between, column);
    width: calc(612px * 0.8);
    position: absolute;
    left: 0;
    top: 0;
    height: calc(100vh - 4px);
    gap: $gap;
    background-color: var(--color2);
    border-radius: 0 $radius $radius 0;
    box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.5);
}

.menu-logo {
    @include flex(flex, center, center);
    width: 100%;
    height: 15%;
    border-radius: 0 $radius 0px 0px;
    border-bottom: 2px solid var(--color5);
    background-color: var(--color1);
}
.menu-nav{
    @include flex(flex, center, flex-start, column);
    width: 100%;
    height: 75%;
    gap: 20px;
}

.menu-button {
    @include flex(flex, center, center, column);
    width: 90%;
    height: 10%;
    background-color: var(--color3);
    color: white;
    border-radius: 15px;
    font-weight: 400;
    font-size: 20px;
}

.menu-user {
    @include flex(flex, center, center);
    border-top: 2px solid var(--color5);
    width: 100%;
    height: 10%;
    text-decoration: none;
    background-color: var(--color1);
    border-radius: 0px 0px $radius 0;
}