@import '../../../../../mixins';

.login-container {
  @include flex(flex, center, center);
  width: 100vw;
  height: 100vh;
  background-color: var(--color2);
  background-image:
    linear-gradient(rgba(237, 245, 218, 0.6), rgba(237, 245, 218, 0.6)),
    url("../../../../../assets/images/green-floralwrapping-paper.png");
  background-repeat: repeat;
  background-size: 102px 102px;
  background-attachment: fixed;
}

.mat-card {
  @include width-login;
  min-width: 312px;
  padding: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
}

.mat-card-title {
  @include flex(flex, center, center, column);
  gap: var(--gap2);

  h1 {
    color: var(--color4);
    padding: 10px;
    font-size: 60px;
  }

  img {
    width: 70%;
  }
}

.mat-card-content {
  margin: 0;
}

.mat-form-field {
  width: 100%;
}

.buttons {
  @include flex(flex, center, center);
  width: 100%;

  button {
    @include flex(flex, center, center, row);
    width: 100%;
    border-radius: var(--radius1);
    border: var(--border4);
    background-color: var(--color2);
    font-size: 20px;
    gap: var(--gap1);
  }

  button:active {
    background-color: var(--color4);
    color: white;
  }
}

.spinner::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: var(--color4);
  color: var(--color4);
}

.mat-card-footer {
  padding: 10px;
}

.mat-hint {
  color: red;
}

.signup {
  @include flex(flex, center, flex-end);
  width: 100%;
  height: fit-content;
  border-radius: var(--radius1);
  color: black;

  p {
    cursor: pointer;
    filter: opacity(70%);
    margin: 0;
  }

  .mat-icon {
    cursor: pointer;
  }

  /*  p:hover {
    color: var(--color4);
  }

  .mat-icon:hover {
    color: var(--color4);
  } */
}

.signup:hover {
  color: var(--color4);
}

@media screen and (max-width:540px) and (min-width:440px) {
  .mat-card-title {
    h1 {
      color: var(--color4);
      padding: 10px;
      font-size: 50px;
    }

    img {
      width: 80%;
    }
  }
}

@media screen and (max-width:439px) {
  .mat-card-title {
    h1 {
      font-size: 40px;
    }

    img {
      width: 90%;
    }
  }
}