<div class="login-container">
  <mat-card>
    <mat-card-title >
      <img src="../../../../../assets/images/Logo.svg" alt="" />
      <h1>Brainstorming</h1>
    </mat-card-title>
    <mat-card-content>
      <form novalidate [formGroup]="login">
  
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput [formControl]="username" required>
          <mat-error align="end">Min 4 characters</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error align="end">Min 4 characters</mat-error>
        </mat-form-field>
  
      </form>
    </mat-card-content>
    <mat-card-content>
      <div class="buttons spinner">
        <button mat-button [disabled]="!login.valid" (click)='logIn()' translate="app.LOGIN">
          <mat-spinner [diameter]="20" *ngIf="loading" ></mat-spinner>
        </button>
      </div>
      <mat-hint *ngIf='!validUser'>Invalid username or password</mat-hint>
    </mat-card-content>
  </mat-card>
</div>

