@import '../../../../../mixins';

.login-container {
  @include flex(flex, center, center);
  width: 100vw;
  height: 100vh;
  background-color: var(--color2);
}

.mat-card {
  @include width-login;
  min-width: 312px;
  padding: 20px;
}

.mat-card-title {
  @include flex(flex, center, center, column);
  gap: var(--gap2);

  h1 {
    color: var(--color4);
    padding: 10px;
    font-size: 60px;
  }

  img {
    width: 70%;
  }
}

.mat-form-field {
  width: 100%;
}

.buttons {
  @include flex(flex, center, center);
  width: 100%;

  button {
    @include flex(flex, center, center, row);
    width: 100%;
    border-radius: var(--radius1);
    border: var(--border4);
    background-color: var(--color2);
    font-size: 20px;
    gap: var(--gap1);
  }

  button:active {
    background-color: var(--color4);
    color: white;
  }
}

.spinner::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: var(--color4);
  color: var(--color4);
}

.mat-card-footer {
  padding: 10px;
}

.mat-hint {
  color: red;
}

@media screen and (max-width:540px) and (min-width:440px) {
  .mat-card-title {
    h1 {
      color: var(--color4);
      padding: 10px;
      font-size: 50px;
    }

    img {
      width: 80%;
    }
  }
}

@media screen and (max-width:439px) {
  .mat-card-title {
    h1 {
      font-size: 40px;
    }

    img {
      width: 90%;
    }
  }
}