<div class="settings-container">
    <h2 translate="app.NAME"></h2>
    <div>
        {{user && user.name.first}} {{user && user.name.last}}
    </div>
    <hr />
    <h2 translate="app.USERNAME"></h2>
    <div>
        {{user && user.username}}
    </div>
    <hr />
    <h2 translate="app.EMAIL"></h2>
    <div>
        {{user && user.email}}
    </div>
    <hr />
    <h2 translate="app.ID"></h2>
    <div>
        {{user && user.id}}
    </div>
    <hr />
    <h2 translate="app.LANG"></h2>
    <div>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [value]="language">
            <mat-button-toggle value="en-US" (click)="setLang('en-US')">US</mat-button-toggle>
            <hr>
            <mat-button-toggle value="es-AR" (click)="setLang('es-AR')">Arg</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <hr />
    <button mat-raised-button (click)="logOut()" translate="app.LOGOUT"></button>
</div>

