@import '../../../../../mixins';

.chart-container {
  @include flex(flex, center, center, row);
  background-color: var(--color2);
  border-radius: var(--radius1);
  border: var(--border3);
  padding: 20px;
}

.chart-subcontainer {
  @include flex(flex, center, center);
  width: 100%;
  min-height: 80px;

  h3 {
    color: var(--color4);
    margin: 0;
  }
}

@media screen and (max-width:439px) {
  .chart-container {
    padding: 10px;
  }
}