@import '../../../../mixins';

h1 {
  border-radius: var(--radius1);
  background-color: var(--color4);
  color: var(--color1);
  padding: 10px;
}

.mat-form-field {
  width: 100%;
}

.buttons {
  @include flex(flex, center, space-around);
  width: 100%;

  button {
    width: 40%;
    border-radius: var(--radius1);
    border: var(--border4);
    background-color: var(--color2);
  }

  button:active {
    background-color: var(--color4);
    color: white;
  }
}