@import '../../../../mixins';

.mat-card {
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;
    z-index: 1;
    border-radius: var(--radius1);
    padding: 15px;
}

.mat-card-title {
    @include flex(flex, center, flex-start, row);
    width: 100%;
    color: white;
    background-color: var(--color3);
    padding: 10px;
    border-radius: var(--radius1);
    font-size: 20px;
}

.title {
    font-size: 20px;
    margin-bottom: 0;
}

.mat-card-content {
    color: var(--color5);
    margin: 0;
}

.mat-card-footer {
    @include flex(flex, center, center);
    height: 20px;

    hr {
        width: calc(100% - (15px * 2));
        height: 4px;
        border: none;
    }
}

.checkbox {
    @include flex(flex, center, flex-start, row);
    transform: scale(1.4);
    margin-left: 15px;
}

.checkbox-label {
    line-height: 20px;
    font-size: 15px;
    margin: 0;
}