<mat-card class="card-container">
    <mat-card-title>
        <div class="title">{{item && item.name}}</div>
        <div>
            <button class="delete" (click)="openDialog('0ms', '0ms')">
              <mat-icon>delete</mat-icon>
            </button>
            <hr />
            <a class="arrow-left" [routerLink]="route">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </a>
          </div>
    </mat-card-title>
    <mat-card-content *ngIf="item && item.description">
        <p translate="app.DESCRIPTION:"></p> 
        {{item && item.description}}
    </mat-card-content>
</mat-card>
