/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
	scrollbar-width: none;
}

* {
	margin: 0;
	font-family: 'Roboto Flex', sans-serif;
	box-sizing: border-box;
}

:root {
	--border: 2px solid black;
	--border1: 2px solid red;
	--border2: 2px solid var(--color2);
	--border3: 2px solid var(--color3);
	--border4: 2px solid var(--color4);
	--border5: 2px solid var(--color5);

	--gap1: 10px;
	--gap2: 20px;

	--radius1: 10px;
	--radius2: 20px;

	--color1: rgba(243, 243, 242, 1);
	--color2: rgba(237, 245, 218, 1);
	--color3: rgba(159, 199, 67, 1);
	--color4: rgba(134, 193, 0, 1);
	--color5: rgba(167, 176, 50, 1);
	--red: rgba(255, 99, 132, 1);
}