<mat-card class="card-container">
  <!-- Title -->
  <mat-card-title>{{epic && epic.icon}} {{item && item.name}}</mat-card-title>
  <!-- Description -->
  <mat-card-content >
    <p translate="app.DESCRIPTION:"></p>  
    {{item && item.description}}
  </mat-card-content>

  <!-- Project -->
  <mat-card-content *ngIf="project" class="members">
    <p translate="app.MEMBERS"></p>
    <app-card-list class="list" *ngIf="setMembers().length > 0; else noMembers" [list]="setMembers()" [loading]="loading">
      <ng-template let-item #card>
        <p>{{setMemberUsername(item)}}</p>
      </ng-template>
    </app-card-list>
    <ng-template #noMembers><p translate="app.NO-MEMBERS"></p></ng-template>
  </mat-card-content>

  <!-- Story -->
  <mat-card-content *ngIf="story">
    <p translate="app.OWNER"></p>
    {{setOwner()}}
  </mat-card-content>

  <mat-card-content *ngIf="story" class="members">
    <p translate="app.ASSIGNED"></p>
    <app-card-list class="list" *ngIf="setAssignedTo().length > 0; else noAssign" [list]="setAssignedTo()"  [loading]="false">
      <ng-template let-item #card>
        <p>{{setMemberUsername(item)}}</p>
      </ng-template>
    </app-card-list>
    <ng-template #noAssign><p translate="app.NO-ASSIGNED"></p></ng-template>
  </mat-card-content>

  <mat-card-content *ngIf="story">
    <p translate="app.POINTS"></p>
    {{setPoints()}}
  </mat-card-content>

  <mat-card-content *ngIf="story">
    <p translate="app.CREATED"></p>
    {{setCreated()}}
  </mat-card-content>

  <mat-card-content *ngIf="story && story.due">
    <p translate="app.DUE"></p>
    {{setDue()}}
  </mat-card-content>

  <mat-card-content *ngIf="story">
    <p translate="app.STATUS"></p>
    {{setStatus()}}
  </mat-card-content>

</mat-card>
